@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.bg-gradient-main {
  /* background: linear-gradient(to top, #fba007, #ffc630); */
  background: linear-gradient(to top, #a107fb, #b330ff);
}

.bg-gradient-overlay {
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,212,255,0) 100%);
}

.radial-gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(250, 214, 92, 0.8) 0%, rgba(250, 214, 92, 0) 60%);
}



/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


/* LOADING PAGE */

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #862b7f;
  color: white;
}

.spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.dropdown-content {
  background-color: #686868;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  color: #aaa;
  font-size: 14px;
}

.back-arrow {
  position: absolute;
  top: 22px;
  left: 10px;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}

/* here  */


.task-containers {
  /* display: flex;
  align-items: center; */
  padding: 2px;
  /* margin-bottom: 2px; */
  /* border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9; */
}



.coin.flex {
  display: flex;
  align-items: center;
}

.back-arrow {
  margin-bottom: 20px; /* Adds some space below the back arrow */
}


/* referral page css  */

.referral-container {
  width: 100%;
  min-height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  background-color: #dd9acd;
  padding: 20px;
  /* border-radius: 10px; */
  box-shadow: 0 2px 8px rgb(151, 11, 151);
}

.referrer-message {
  color: #4CAF50;
  margin-bottom: 20px;
  text-align: center;
}

.imag{
  width: 110%;
  height: 110px;
  padding: 8px;
  
}

.referral-invite-botton {
  display: flex;
  gap: 15px; 
  justify-content: center;
  align-items: center; 
  padding-top: 15px;
}
  


.invite-button, .copy-button {
  background-color: #1E90FF;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.invite-button:hover {
  background-color: #1C86EE;
}

.copy-button {
  background-color: #ba11db;
}

.copy-button:hover {
  background-color: #8b05b4;
}

.referrals-list {
  margin-top: 20px;
}

.referrals-title {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.referral-item {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  text-align: center;
}


/* new referral box  */
/* .referral-invite-box {
  background-color: #222;
  width: 100%;
  height: 90px;
  padding: 15px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
} */

.h{
  color: #ffffff;
}

.p{
  color: #ffffff;
}

.refer{
  background-color: #dd9acd;
  /* min-height: 100vh; */
    /* padding: 20px; */
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* the task page  */

/* .task-popup {
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 90%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
} */

.task-popup.show {
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}

.task-popup.hide {
  transform: translate(-50%, 50%);
  opacity: 0;
  visibility: hidden;
}

.task-popup p {
  margin-bottom: 10px;
}

.task-popup button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-popup button:first-child {
  background-color: #1E90FF;
  color: white;
}

.task-popup button:last-child {
  background-color: #ccc;
  color: #333;
}

/* task  */

.task-container {
  width: 100%;
  background-color: #dd9acd;
  padding: 20px;

}

.category-selector {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.category-selector button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-selector button:hover {
  background-color: #45a049;
}

.referral-invite-boxs {
  /* background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px; */
  padding: 1px;
  margin-bottom: 1px;
  /* display: flex;
  align-items: center;
  cursor: pointer; */
}

.task-buttons {
  display: flex;
  gap: 10px; /* Add space between buttons */
  margin: 10px 0;
}

.task-button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

.task-button.active {
  background-color: #007BFF;
}

.tasks-display {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-popup {
  /* position: relative; */
  /* background: #6f0058; */
  /* padding: 20px;
  border-radius: 8px;
  max-width: 300px; */
  /* margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 120%;
  border-radius: 15px 15px 0 0;
  padding: 20px;
  background-color: #6f0058;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.5s ease;
}

@keyframes slideIn {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

/* new */


.close-button {
  position: absolute;
  top: 7px;
  right: 7px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #888;
}

.popup-buttons button {
  margin-top: 10px;
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.popup-buttons button:first-of-type {
  background-color: #007bff;
  color: #fff;
  margin-bottom: 5px;
}

.popup-buttons button:last-of-type {
  background-color: #28a745;
  color: #fff;
}


/* button  */

@keyframes glowing {
  0% {
    background-color: rgb(223, 193, 25);
    border: 0 0 0px solid rgb(223, 193, 25), 0 0 1px solid rgb(223, 193, 25), 0 0 2px solid solid rgb(223, 193, 25), 0 0 3px solid solid rgb(223, 193, 25);
  }
  50% {
    background-color: green;
    border: 0 0 1px solid green, 0 0 1px solid green, 0 0 2px solid green, 0 0 3px solid green;
  }
  100% {
    background-color: rgb(223, 193, 25);
    border: 0 0 0px solid rgb(223, 193, 25), 0 0 1px solid rgb(223, 193, 25), 0 0 2px solid rgb(223, 193, 25), 0 0 3px solid rgb(223, 193, 25);
  }
}

.animate-glow {
  animation: glowing 3s infinite;
  box-shadow: 0px 0px 8px 4px rgba(0, 160, 255, 0.6) ;

}
